body{
    background: linear-gradient(45deg, rgb(9, 135, 219), rgb(9, 186, 199));
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-weight: 900;
    font-size: 28pt;
    color: rgb(255, 255, 255);
    text-align: center;
}

/* forma del telefono*/
.telefono{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 700px;
    position: relative;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
}
/* fondo de pantalla del menu principal*/
#fondotlf {
    width: 295px;
    height: 630px;
    border-radius: 15px;
    background: linear-gradient(to right, rgb(232, 10, 143), rgb(115 40 167));
    padding: 15px;
    position: absolute;
    top: 15px;
}
#cam{
    z-index: 4;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -15px;
    left: 155px;
}
#logoapp{
    display: flex;
    justify-content: center;
    width: 50px;
    position: absolute;
    bottom: 90px;
    right: 20px;
    padding: 0;
    border-style: none;
}
.img{
    width: 100%;
    height: 100%;
}
#logosms{
    display: flex;
    justify-content: center;
    width: 50px;
    position: absolute;
    bottom: 90px;
    left: 20px;
    padding: 0;
    border-style: none;
}
#logosms:hover , #logoapp:hover{
    filter:opacity(50%);
    transition: filter 0.1s ease-in-out;
}

/*Reloj del menu principal*/
.reloj{
    color: rgb(255, 255, 255);
    text-align: center;
}

.reloj .hora{
position:absolute;
top: 55px;
left: 60px;
font-weight: 600;
font-size: 35pt;
}

.reloj .fecha{
    position:absolute;
    top: 155px;
    left: 120px;
    font-weight: 500;
    font-size: 12pt;
}

.barra-estado {
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left:0px;
    width: 94%;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo semi-transparente */
    color: white; /* Color del texto */
}

.icono-bateria {
    display: block;
    width: 24px; /* Ajusta según el tamaño de tu ícono */
    height: 24px; /* Ajusta según el tamaño de tu ícono */
    background: url('icono-bateria.png') no-repeat center center;
    background-size: contain;
}

/* Asegúrate de que la hora se actualice con tu función de JavaScript */
.barra-estado .hora {
    font-size: 16px; /* Ajusta según tus preferencias */
}

.barra-inferior {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    padding: 5px 0; /* Ajuste del padding para reducir la altura */
    background-color: rgba(255, 255, 255, 0.3);
    border-top-left-radius: 30px; /* Bordes superiores más redondeados */
    border-top-right-radius: 30px; /* Bordes superiores más redondeados */
    border-bottom-left-radius: 15px; /* Nuevos bordes inferiores redondeados */
    border-bottom-right-radius: 15px; /* Nuevos bordes inferiores redondeados */
}

.boton {
    display: flex;
    justify-content: center;
    width: 40px; /* Ancho reducido */
    height: 40px; /* Altura reducida */
    background-color: transparent; /* Fondo transparente */
    border-radius: 50%; /* Forma redondeada */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.boton::before {
    content: '';
    display: block;
    width: 100%; /* Ajuste para que la imagen ocupe todo el botón */
    height: 100%; /* Ajuste para que la imagen ocupe todo el botón */
    background: url('icono-deseado.png') no-repeat center center;
    background-size: cover; /* Ajuste para que la imagen cubra todo el botón */
}

/*aqui poner el icono para el boton de regresar y el de la casita*/
.boton.atras::before {
    background-image: url('icono-atras.png');
}

.boton.inicio::before {
    background-image: url('icono-inicio.png');
}

/*contenido de la app al abrirla*/
#appContent {
    width: 295px;
    height: 630px;
    border-radius: 15px;
    background: linear-gradient(to right, rgb(255, 153, 102), rgb(255, 94, 98));
    background-image: url('imagenes/fondo de la app.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -4px;
    padding: 15px;
    position: absolute;
    top: 15px;
}

#pantallaSMS{
    width: 295px;
    height: 630px;
    border-radius: 15px;
    background: #fefffa;
    box-shadow: -4px;
    padding: 15px;
    position: absolute;
    top: 15px;
}

#barraContacto{
    display: flex;
    z-index: 1;
    align-items: center;
    position: absolute;
    top: 0;
    left:0px;
    width: 94%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px 10px;
    background-color: rgba(245, 143, 26, 0.781);
    color: #000
}

#contacto{
    display: flex;
    margin-top: 10px;
    align-items: center;
    font-size: 14pt;
    font-weight: 600;
}

.mensajes {
    position: absolute;
    top: 90px;
    width: 295px;
    border: 1px solid #ddd;
    overflow-y: auto; /* Permite el desplazamiento vertical */
    font-size: 10pt;
}

.mensaje {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 320px;
}

.mensaje.recibido {
    background-color: #fff1b3;
    float: left; /* Los mensajes recibidos se muestran a la izquierda */
    clear: both;
}

.mensaje.enviado {
    background-color: #ffc889;
    float: right; /* Los mensajes enviados se muestran a la derecha */
    clear: both;
}

#formSMS {
    position: absolute;
    top: 500px;
    width: 295px;
}

#mensaje {
    width: 273px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#enviarSMS {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 8pt;
    font-weight: 600;
}

#logoInicio{
    width: 292px;
    height: 248px;
    position: absolute;
    top: 70px;
    left: 18px;

}

/*boton de inicio de sesion*/
#loginButton {
    position: absolute;
    top: 58%;
    left: 24%;
    background-color: rgb(245, 106, 26);
    color: #fff;
    width: 174px;
    height: 45px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    transition: 0.1s;
}

#loginButton:active {
    background: radial-gradient(circle farthest-corner at 10% 20%, rgb(234, 103, 27) 17.8%, rgb(251, 92, 0) 100.2%)
}


/*pantalla que se abre despues de darle al boton de iniciar sesion */
#loginContent {
    width: 290px;
    height: 630px;
    border-radius: 15px;
    background: linear-gradient(to right, rgb(255, 153, 102), rgb(255, 94, 98));
    background-image: url('imagenes/fondo login.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -4px;
    padding: 15px;
    position: absolute;
    top: 15px;
}

/*este es el formulario donde se llenan las cosas*/
#registerForm {
    background: linear-gradient(to right, rgb(245, 143, 26), rgba(255, 132, 0, 0.929));
    border-radius: 15px;
    padding: 20px;
    width: 242px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#registerForm label {
    color: rgb(254, 251, 251);
    font-size: 14pt;
    font-weight: bold;
}

#registerForm input[type="text"], #registerForm input[type="password"] {
    width: 230px;
    height: 25px;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    border-style: none;
}


#registerForm input[type="button"] {
    background-color: rgb(255, 94, 0);
    color: #fff;
    padding: 10px;
    width: 100%;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

#registerForm input[type="button"]:hover {
    background-color: rgb(255, 77, 0);
}


/*aqui va la pagina principal del banco, hay que cambiarlas por la que disenies*/
/*pantalla del banco*/
#paginaPrincipal{
    width: 295px;
    height: 630px;
    border-radius: 15px;
    background: linear-gradient(to right, rgb(255, 153, 102), rgb(255, 94, 98));
    background-image: url('imagenes/fondo pago movil.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -4px;
    padding: 15px;
    position: absolute;
    top: 15px;

}

/* Estilos CSS para el formulario de pago móvil */
/*como sufri en esta verga*/

#tipo-documento {
    /* Posición y tamaño */
    position: absolute;
    top: 22%;
    left: 5%;
    width: 70px;
    height: 38px;
    border: 2px solid rgb(255, 153, 102); /* Ajusta el color según lo necesites */
    border-radius: 5px;
}

/*con esto editas el texto de cada vaina*/
label[for="numero-cedula"] {
    position: absolute;
    top: 19%;
    left: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: rgb(255, 153, 102);
    font-weight: bold;
}

#numero-cedula{
    /* Posición y tamaño */
    position: absolute;
    top: 22%;
    right: 15px;
    width: 205px;
    height: 5%;

    /* Borde */
    border: 2px solid rgb(255, 153, 102); /* Ajusta el color según lo necesites */
    border-radius: 5px;
}

label[for="banco"] {
    position: absolute;
    top: 29%;
    left: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: rgb(255, 153, 102);
    font-weight: bold;
}

#banco{
     /* Posición y tamaño */
    position: absolute;
    top: 32%;
    left: 5%;
    width: 295px;
    height: 38px;

     /* Borde */
     border: 2px solid rgb(255, 153, 102); /* Ajusta el color según lo necesites */
     border-radius: 5px;

}

label[for="telefono1"] {
    position: absolute;
    top: 39%;
    left: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: rgb(255, 153, 102);
    font-weight: bold;
}
#telefono{
     /* Posición y tamaño */
     position: absolute;
    top: 42%;
    right: 15px;
    width: 285px;
    height: 30px;
     /* Borde */
     border: 2px solid rgb(255, 153, 102); /* Ajusta el color según lo necesites */
     border-radius: 5px;

}


label[for="monto"] {
    position: absolute;
    top: 49%;
    left: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: rgb(255, 153, 102);
    font-weight: bold;
}
#monto{

    position: absolute;
    top: 52%;
    right: 15px;
    width: 285px;
    height: 30px;
     border: 2px solid rgb(255, 153, 102); /* Ajusta el color según lo necesites */
     border-radius: 5px;
}


label[for="concepto"] {
    position: absolute;
    top: 59%;
    left: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: rgb(255, 153, 102);
    font-weight: bold;
}

#concepto{

    /* Posición y tamaño */
    position: absolute;
    top: 62%;
    right: 15px;
    width: 285px;
    height: 30px;
    /* Borde */
    border: 2px solid rgb(255, 153, 102); /* Ajusta el color según lo necesites */
    border-radius: 5px;



}






/* Estilos para el botón 'Pagar' */
.boton-pagar {
    position: absolute;
    top: 71%;
    left: 6%;
    width: 150px;
    height: auto;

    padding: 10px 20px; /* Tamaño del relleno */
    font-size: 18px; /* Tamaño de la fuente */
    background-color: rgb(255, 77, 0); /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor tipo puntero */
    margin-right: 5px; /* Margen a la derecha */
}

/* Estilos para el botón 'Limpiar' */
.boton-limpiar {
    position: absolute;
    top: 80%;
    left: 6%;
    width: 150px;
    height: auto;
    padding: 10px 20px; /* Tamaño del relleno */
    font-size: 18px; /* Tamaño de la fuente */
    background-color: rgb(255, 77, 0); /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor tipo puntero */
}



/*aqui esta el codigo del CSS de la vaina*/
#pantallaComprobante{
    width: 295px;
    height: 630px;
    border-radius: 15px;
    background: linear-gradient(to right, rgb(255, 153, 102), rgb(255, 94, 98));
    background-image: url('imagenes/pantalla comrpobante.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -4px;
    padding: 15px;
    position: absolute;
}

/*no se porque no cumple bien la funcion, lit es el mismo codigo que tienen las otras pantallas, es raro*/



#dineroP{
    position: absolute;
    top: 305px;
    left: 132px;
    font-weight: bold;
}

#pantallaComprobante p.fecha {
    position: absolute;
    top: 331px;
    right: 45px;
    font-weight: bold;
}

#conceptoP{
    position: absolute;
    top: 466px;
    right: 45px;
    font-weight: bold;
}
#operacion{
    position: absolute;
    top: 375px;
    right: 45px;
    font-weight: bold;
}

#numero-cedulaP{
    position: absolute;
    top: 398px;
    right: 45px;
    font-weight: bold;
}
/* la inteligencia te persigue pero tu eres más rápido */
